# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
fluent_mind_env/
env/
venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Operating system files
.DS_Store
Thumbs.db

# Streamlit specific
.streamlit/secrets.toml